

.icon-button {
  background-color: #c7f3ec !important;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  color: black;
}

.content-box {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1.5rem;
  max-width: 960px;
  width: 100%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  direction: rtl;
  margin: auto;
}

.cart-item {
  padding: 8px 8px 0px 4px;
}

.cart-item:hover {
  background-color: #f0f0f0;
}

.cart-row {
  flex-wrap: wrap;
}

.cart-info {
  gap: 12px;
}

.cart-image {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  margin-left: 1rem;
}

.cart-controls {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 8px;
}

@media (max-width: 700px) {
  .cart-controls {
    flex-direction: row;
    align-items: center;
  }
}
